<div id="header-topbar-option-demo" class="page-header-topbar">
    <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a id="logo" href="<%= root_path %>" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">FODA</span><span style="display: none" class="logo-text-icon">µ</span></a>
        </div>
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><span>About</span></a>
            <a href="<%= fmodelling_path %>" class="navbar-brand"><span>Modelling</span></a>
        </div>
        <div class="topbar-main">
                        <ul class="nav navbar navbar-top-links navbar-right mbn">
                <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><span class="hidden-xs"><%= user_signed_in? ? ((image_tag avatar_url(current_user, 200)).html_safe + current_user.email) : "User" %></span>&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-user pull-right">
                        <li>                           
                            <% if user_signed_in? %>
                                <%= link_to('<i class="fa fa-key"></i>'.html_safe+'Logout', destroy_user_session_path, :method => :delete) %>
                            <% else %>
                                <%= link_to('<i class="fa fa-key"></i>'.html_safe+'Login', new_user_session_path)  %>  
                            <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>